@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Raleway");

#field1 { 
	background: #ecf2f9;
	border-radius: 10px;
	padding:30px;
}

#field2 { 
	background: #f0f5f5;
	border-radius: 10px;
	padding:30px;
}

#field3 { 
	background: #ffe6e6;
	border-radius: 10px;
	padding:30px;
}

#field4 { 
	background: white;
	border-radius: 10px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:5px;
	border: 1px solid #EF857A ;
}

#field4 label {
	display: inline-block;
}

#field4 h2 {
	padding: 5px;
}
#simple-rate{
	border-radius: 10px;
	border:1px solid #d9d9d9;
	}

label {

   	font-size: 14px;
  	font-family: Raleway;
 	font-weight: lighter;
  	color:white;
}

legend {
	font-size: 20px;
}

h1 {
	color: #EF857A;
}
#button-toto {
	color:white;
	background-color: #ee8e6b;
	background-image: linear-gradient(315deg, #ee8e6b 0%, #ef6da0 74%);
	border-radius: 20px;
}

th {
    background: #EF857A;
    color:white;
    padding-left: 10px;

}

.widefat{
	border-radius: 20px;
}
#title{
	color:white;
	text-align: center;
}

#title2{
	color:white;
	text-align: left;
	padding-left: 20px;
}
#title3{
	color:grey;
	text-align: left;
	padding-left: 70px;
}

code{
	padding-left: 20px;
	background: white;
}

#new {
	color:#EF857A;
	font-size: 16px;
}

#titlesondage{
	color:#EF857A;
}